<div class="spotify-home-containe row">
  <div class="spotify-home-container-side-bar col-2">
    <div class="spotify-home-container-side-bar-item">
      <img src="assets/Spotify_Logo_RGB_White.png" alt="spotify white logo" width="150" class="m-3">
    </div>
    <div class="spotify-home-container-side-bar-item">
      <a >Home</a>
    </div>
    <div class="spotify-home-container-side-bar-item">
      <a >Search</a>
    </div>
    <div class="spotify-home-container-side-bar-item">
      <a >Your Library</a>
    </div>
    <div class="spotify-home-container-side-bar-item">
      <a >Create Play list</a>
    </div>
  </div>
  <div class="spotify-home-container-playlist-container col-10"></div>
</div>
